# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
DEPLOY.md
deploy.sh
template.yaml
lambda-package/
*.egg-info/

# Ambiente
.env
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Dados locais
local_data/

# AWS
.aws/
*.pem

# OS
.DS_Store
Thumbs.db
